nav ul
li
a {
  color: white; }

img {
  max-width: 100%; }

.avater img {
  width: 50px;
  height: 50px;
  border-radius: 50%; }

.trend-chart {
  padding-bottom: 29px; }

.br {
  border-right: 1px solid black; }

.bold {
  font-weight: bold; }

.icons {
  display: flex; }

.card__line {
  border-bottom: 1px solid black; }

.icons {
  display: flex; }

.font {
  font-weight: 500; }
